.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0 24px 0;
    & .filterContent {
        display: flex;
        & .button {
            flex: 0.2;
        }
    }
}

