@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/common.scss';

.content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.minWidth {
    min-width: 130px;
}

.hidden{
    display: none;
}

.animation {
    height: 0;
}

.readStatus{
    margin-top: 4px;
    margin-right: 10px;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: $primaryColor;
}

.unreadStatus{
    margin-top: 4px;
    margin-right: 10px;
    height:10px;
    width:10px;
    border-radius: 50%;
    background-color: $thirdFontColor;
}

.flexPostSingle{
    display: flex;
    flex-direction: row;
    flex: 1 1 43%;
    transition: .5s ease-in;

    & .commentIcon{
        margin-right: 5px;
    }

    & .author{
        color: $thirdFontColor;
        font-weight: normal;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
    }

    & .subreddit {
        font-size: 13px;
        font-weight: bold;
        color: $thirdFontColor;
        margin-right: 10px;
        vertical-align: baseline;
    }

    & .date {
        font-size: 12px;
        margin-left: 10px;
        vertical-align: baseline;
    }

    & .title{
        color: $mainFontColor;
    }

    & .content{
        display: flex;
        flex-direction: column;
        // flex: 0 0 87%!important;
        margin-left: 15px;
        justify-content: space-around;
        
    }
    .content > * {
         margin:5px 0px;   
    }
    & .thumbnail{
        border-radius: 5px;
        object-fit: cover;
        width:75px;
        height: 75px;
        box-shadow: $boxshadow;
        align-self: center;
    }

    & .bottomSection{
        @extend .divRow;
        align-items: center;
    }
}

.postOpened{
    width:calc(50% - 10px);
    height: calc(100% - 80px);
    flex-direction: column;
    display: flex;
    margin-left: 20px;
    overflow: auto;

    & .closeLink{
        align-self: flex-end;
        cursor: pointer;
        margin-right: 15px;
        & :hover{
            transform: scale(1.1);
            transition:all 0.20s ease;
        }
    }

    & h2 {
        color: $mainFontColor;
        font-size: 20px;

    }
    & img {
        border-radius: $borderRadius;
        width: 100%;
        height:100%;
        max-height:100%;
        object-fit: contain;
    }
    & .selfCenter{
        align-self: center;
    }
    & .marginTop{
        margin-top: 1rem;
    }
}

@media (min-width: $breakpoint-tablet) {

    & .content{
        flex: 0 0 87%!important;
    }
}

@media (max-width: $breakpoint-tablet) {

    .flexPostSingle{
        & .thumbnail{
            border-radius: 5px;
            object-fit: cover;
            width:55px;
            height: 65px;
            box-shadow: $boxshadow;
            align-self: center;
        }
    }

    .postOpened{
        width: 88%;
        height: 91%;
        flex-direction: column;
        overflow: auto;
        z-index: 100;
        position: absolute;
        background-color: $backgroundColor;
        top: 74px;
        left: 0;
        padding: 20px;
    }

}