@import '../../../shared/styles/variables.scss';
@import '../../../shared/styles/common.scss';

.content {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
}

.minWidth {
    min-width: 130px;
}

.flexPostSingle{
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;

    & .author{
        color: $thirdFontColor;
        font-weight: normal;
        font-size: 12px;
        display: flex;
        margin-bottom: 5px;
    }

    & .subreddit {
        font-size: 13px;
        font-weight: bold;
        color: $mainFontColor;
        margin-right: 10px;
        vertical-align: baseline;
    }

    & .date {
        font-size: 12px;
        margin-left: 10px;
        vertical-align: baseline;
    }

    & .title{
        color: $mainFontColor;
    }

    & .content{
        display: flex;
        flex-direction: column;
        flex: 1 1 30%;
        margin-left: 15px;
    }
    & .thumbnail{
        border-radius: 5px;
        object-fit: cover;
        width:75px;
        height: 75px;
        box-shadow: $boxshadow;
    }
}
$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  
}