@import './shared/styles/variables.scss';

body {
    margin: 0;
    font-family: $fontFamily;
}

a {
    display: contents;
    text-decoration: none;
    outline-width: 0.3px;
    color: inherit;

    &:visited {
        text-decoration: none;
        outline-width: 0.3px;
        color: inherit;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: $borderRadius;
    background-color: $ligthgrey_1;
}

::-webkit-scrollbar-thumb {
    background-color: $ligthgrey_3;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    border-radius: 16px;
}
